In [2]:
import pandas as pd

In [6]:
datos = {
    "prueba":[2],
    "prueba3":[321]
}

datos = pd.DataFrame(datos)

## Ver diferentes informaciones de nuestro DataFrame

In [11]:
datos.info()
datos.describe()
print(datos.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   prueba   1 non-null      int64
 1   prueba3  1 non-null      int64
dtypes: int64(2)
memory usage: 144.0 bytes
(1, 2)

## Crear nuevas columnas

In [13]:
datos["ciertamente"] = datos.prueba + datos.prueba3
datos.head()

   prueba  prueba3  ciertamente
0       2      321          323

### Hacer querys